* {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.App {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: #131313;

    overflow: hidden;
}

.Registration {
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ---------- ОБЩИЕ НАСТРОЙКИ ---------- */

.logo {
    position: absolute;
    pointer-events: none;
    z-index: 0;
    width: 1150px;

    will-change: transform;
    backface-visibility: hidden;
}

/* ---------- ШАР 1 ---------- */

.asset_1 {
    top: 50%;
    left: 50%;

    margin-left: -1000px;
    margin-top: -1000px;

    animation: enterRight 1s ease-out forwards;
}

.asset_2 {
    top: 50%;
    left: 50%;

    margin-left: 50px;
    margin-top: -700px;

    animation: enterLeftMirror 1s ease-out forwards;
}

.asset_3 {
    top: 50%;
    left: 50%;

    margin-left: -130px;
    margin-top: -1500px;

    animation: enterRight 1.5s ease-out forwards;
}

.asset_4 {
    top: 50%;
    left: 50%;

    margin-left: -820px;
    margin-top: -150px;

    animation: enterLeftMirror 1.5s ease-out forwards;
}

/* ---------- АНИМАЦИЯ ---------- */

@keyframes enterRight {

    from {
        transform: translate3d(250px, 900px, 0);
    }

    to {
        transform: translate3d(250px, 650px, 0);
    }
}

@keyframes enterLeftMirror {

    from {
        transform:
            translate3d(-500px, 0, 0) scaleX(-1) scaleY(-1);
    }

    to {
        transform:
            translate3d(-500px, -140px, 0) scaleX(-1) scaleY(-1);
    }
}