* {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    background-image: url("./assets/background.png");
}

section {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}